@font-face {
	font-family: 'Rotunda';
	src: url('../fonts/Rotunda-Regular.eot');
	src: local('☺'), url('../fonts/Rotunda-Regular.woff') format('woff'), url('../fonts/Rotunda-Regular.ttf') format('truetype'), url('../fonts/Rotunda-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Rotunda';
	src: url('../fonts/Rotunda-Medium.eot');
	src: local('☺'), url('../fonts/Rotunda-Medium.woff') format('woff'), url('../fonts/Rotunda-Medium.ttf') format('truetype'), url('../fonts/Rotunda-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Rotunda';
	src: url('../fonts/Rotunda-Bold.eot');
	src: local('☺'), url('../fonts/Rotunda-Bold.woff') format('woff'), url('../fonts/Rotunda-Bold.ttf') format('truetype'), url('../fonts/Rotunda-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}